/CompSci3/Assignment1/nbproject/private/
/CompSci3/Assignment1/build/
/CompSci3/Week2Lab1/nbproject/private/
/CompSci3/Week2Lab1/build/
/CompSci3/Week2Lab2/nbproject/private/
/CompSci3/Week2Lab2/build/
*.xml
CompSci3/Week2Lab1/nbproject/project.properties
*.properties
CompSci3/Week2Lab1/manifest.mf
*.mf
/CompSci3/HW2/nbproject/private/
/CompSci3/HW2/build/
/CompSci3/Week3Lab1/nbproject/private/
/CompSci3/W3L1/nbproject/private/
/CompSci3/W3L1/build/
/CompSci3/Week3LabOne/nbproject/private/
/CompSci3/Week3LabOne/build/
/CompSci3/Week3Lab2/nbproject/private/
/CompSci3/Week3LabTwo/nbproject/private/
/CompSci3/Week3LabTwo/build/
/CompSci3/Assignment3/nbproject/private/
/CompSci3/Assignment3/build/
/CompSci3/Week4Lab1/nbproject/private/
/CompSci3/Week4Lab1/build/
/CompSci3/Wek4Lab2/nbproject/private/
/CompSci3/Wek4Lab2/build/
/CompSci3/Assignment4/nbproject/private/
/CompSci3/Assignment4NoMethods/nbproject/private/
/CompSci3/Assignment4NoMethods/build/
/CompSci3/Assign4/nbproject/private/
/CompSci3/Assign4/build/
/CompSci3/Week5Lab1/nbproject/private/
/CompSci3/Week5Lab1/build/
/CompSci3/Assignment5/nbproject/private/
/CompSci3/Assignment5/build/